<h1>SpaceX Lunch Programs</h1>

<div class="row">
  <div class="col-3 col-s-12">
    <app-sidebar></app-sidebar>
  </div>

  <div class="col-9 col-s-12 col-m-12">
    <div class="row" *ngIf="spaceList.length > 0">
      <div class="col-3 col-s-6 col-m-12" *ngFor="let space of spaceList">
        <div class="card">
          <div class="" style="background-color: rgb(236, 235, 235)">
            <img [src]="space?.links?.mission_patch_small" width="100%" />
          </div>
          <a
            style="margin-top: 0.4rem"
            style="text-decoration: none; font-weight: bold; font-size: 12px"
            [routerLink]="['/']"
            >{{
              space?.mission_name?.length > 18
                ? (space?.mission_name | slice: 0:18) + ".."
                : space?.mission_name
            }}
            #{{ space?.flight_number }}</a
          >
          <div>
            <div style="display: inline-block">
              <h6 class="mission_head">Mission Ids:</h6>
            </div>
            <ul *ngIf="space?.mission_id?.length > 0" class="mission_list">
              <li *ngFor="let missionid of space?.mission_id">
                {{ missionid }}
              </li>
            </ul>
            <ul
              *ngIf="space?.mission_id?.length == 0"
              class="mission_list"
              style="list-style: none"
            >
              <li>NA</li>
            </ul>
            <!-- <p class="view pl-2" *ngIf="space?.mission_id?.length == 0">N/A</p> -->
            <div style="display: block">
              <h6 class="mission_head">Lunch Year:</h6>
              <p class="view">{{ space?.launch_year }}</p>
            </div>
            <div style="display: block">
              <h6 class="mission_head">Successful Lunch:</h6>
              <p class="view">{{ space?.launch_success }}</p>
            </div>
            <div style="display: block">
              <h6 class="mission_head">Successful Landing:</h6>
              <p class="view">
                {{
                  space?.rocket?.first_stage?.cores[0].land_success == null
                    ? "NA"
                    : space?.rocket?.first_stage?.cores[0].land_success
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
