.card {
  padding: 1rem;
}
h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mission_list {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
}
.mission_head {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 10px;
  float: left;
}
.view {
  font-size: 10px;
  margin-top: 5px;
  padding-left: 3px;
  margin-bottom: 5px;
  display: inline-block;
}
.pl-2 {
  padding-left: 2rem;
}
.bg-image {
  background-color: rgb(236, 235, 235);
}
.title {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}
.dis-inline-block {
  display: inline-block;
}
.li-none {
  list-style: none;
}
.dis-block {
  display: block;
}
